body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
	margin: 0 auto;
	width: 940px;
}

.sacola {
	background: url(../img/sacola.png) no-repeat top right;

	font-size: 14px;
	padding-top: 8px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
}

.menu-seletores ul {
	font-size: 15px;
}

.menu-seletores a {
	color: #003366;
}

.menu-seletores ul li {
	display: inline;
	margin-left: 20px;
}